.programs {
  /* Styles for the main container */
  background-color: white;
}

.program-item {
  display: flex;
  align-items: center;
  margin: 20px;
}

.program-item.alternate {
  flex-direction: row-reverse;
}

.program-item img {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: auto;
  flex-shrink: 0;
}

.program-item div {
  flex: 1;
}

/* Add more styling as needed */
